In [20]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7,  8, 9]], columns=["A", "B", "C"], index=["x", "y", "z"])

In [18]:
df.head()

   A   B    C
x  1  23  NaN
y  4   5  6.0
z  7   8  9.0

In [26]:
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [ ]:
df.head(1) # first 1 rows

   A  B  C
x  1  2  3

In [21]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [ ]:
df.tail(2) # last 2 rows

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [28]:
df['A'].unique()
df['A']

x    1
y    4
z    7
Name: A, dtype: int64